{% "base.html" %}
{% block title %}Something Pathetic{% endblock %}
{% load staticfiles  %}
{% block scripts %}
<script type="text/javascript">
</script>
<script type="text/javascript" src="{% static "js/main.js" %}"> </script>
<!---
<script type="text/javascript" src="{% static "js/jquery.fancybox.pack.js" %}"> </script>
--> 
{% endblock %}
 {% block css %}
 <!--
 <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
 <link rel="stylesheet" type="text/css" href="{% static "css/jquery.fancybox.css" %}"/>
--> 
 {% endblock %}
 {% block content %}
 {% endblock %}
