{% extends "base.html" %}
{% block title %}Something Pathetic{% endblock %}
{% load staticfiles  %}
{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
<script type="text/javascript">
    {% if lesson %}
    var last_lesson = {{ lesson|safe }};
    {% endif %}
</script>
<!--
<script type="text/javascript" src="{% static "js/jquery.fancybox.pack.js" %}"> </script>
--> 
{% endblock %}
 {% block css %}
 <!--
 <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
 <link rel="stylesheet" type="text/css" href="{% static "css/jquery.fancybox.css" %}"/>
--> 
 {% endblock %}
 {% block content %}
 <div>
 You have paid lessons <span id="paid_num">{{paid_num}}</span>
 </div>
 <div>
     <button id="start_btn">Start new lesson</button>    
 </div>
     
 {% if paid_num == 0 %}
 <form id="pay_form">
 Pay for <input type="text" name="lesson_num"/> <input type="submit">
 </form>
 {% endif %}
 <div id="lesson" >
     <h3>Last lesson</h3>
     <div id="date"></div>
     Dialog:<div id="dialog"></div>
     Note: <div id="note"></div>
     Home work: <div id="home_work"> </div>
</div>
 {% endblock %}
